<a href="https://colab.research.google.com/github/edelgado-1975/PandasOk/blob/main/Trabajo%20en%20clase%20Ciencia%20de%20Datos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Trabajo en Clase de Python Vs Ciencia de Datos**

In [3]:
import pandas as pd

ANTES QUE NADA CONSTRUIR EL DATAFRAME

Crear un DataFrame con Python
1) Diccionario de listas (columna por columna)

In [4]:
football_dict = {
    "player": ["Lionel Messi", "Cristiano Ronaldo"],
    "year": [2016, 2016],
    "goals": [37, 25],
}
football_stats = pd.DataFrame(football_dict)
print(football_stats)

              player  year  goals
0       Lionel Messi  2016     37
1  Cristiano Ronaldo  2016     25

2) Lista de diccionarios (fila por fila)

In [5]:
football_list = [
    {"player": "Lionel Messi", "year": 2016, "goals": 37},
    {"player": "Cristiano Ronaldo", "year": 2016, "goals": 25},
]
football_stats = pd.DataFrame(football_list)
print(football_stats)

              player  year  goals
0       Lionel Messi  2016     37
1  Cristiano Ronaldo  2016     25

**IMPORTAR DATOS**

> Agregar bloque entrecomillado


Base de datos
Usaremos una base de datos de las 5 ligas top de Europa entre los a√±os 2014 y 2020.

Fuente: [Kaggle](https://www.kaggle.com/shushrutsharma/top-5-football-leagues?select=Fullmetadata.csv)

Se recomienda por favor crear una cuenta para poder descargar los datos

Importar csv
pd.read_csv('path/file.csv')

In [ ]:
df = pd.read_csv('sample_data/Fullmetadata.csv')
print(df)